@model IEnumerable<Alwi_Laptop_Mart.tbl_Product>

@{
    ViewBag.Title = "Search";
}



@*Home page slides*@
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/Slides/1.jpg" class="d-block w-100 home_slide" alt="#">
        </div>

        @for (int i = 2; i <= 9; i++)
        {
            string slideImg = $"/Images/Slides/{i}.jpg";
            <div class="carousel-item">
                <img src=@slideImg class="d-block w-100 home_slide" alt="#">
            </div>
        }


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


@*Products lists | Home Page*@
<div class="row container-fluid products_lists">
    @foreach (var item in Model)
    {
        if (item.ProductID > 0)
        {
            var imgsrc = "";

            <div class="col-lg-3 col-md-4 col-sm-6 pb-4">
                <div class="card">
                    @{
                        if (item.Image != null)
                        {
                            var base64 = Convert.ToBase64String(item.Image);
                            imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                        }
                    }

                    <img src="@imgsrc" class="card-img-top" alt="image not found" />
                    <div class="card-body">
                        <hr />
                        <h5 class="card-title">@item.Model</h5>
                        <hr style="border-top:1px dashed #8c8b8b" />
                        <p class="card-text text-danger" style="font-weight: bold">Price: Rs. @item.Price</p>
                        <div class="row-cols-auto">
                            <a href='@Url.Action("ProductDetails", "ProductDetails", new {productId = item.ProductID})' class="btn btn-primary">View Details</a>

                            <a href='@Url.Action("Index", "Home", new {productId = item.ProductID})' class="btn btn-success float-end"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@if (ViewBag.Search != null)
{
    <div class="alert alert-success container text-center text-danger">
        <h3>@ViewBag.Search</h3>
    </div>
}

@*payments-brands*@
<div class="payments-brands text-center">
    <img src="~/Images/payments-brands.png" />
</div>
